*,
::before,
::after {
  margin: 0;
  padding: 0;
}

body {
  padding: 10px;
}

.Header {
  background: #efefef;
  border: none;
  border-bottom: 1px solid #ccc;
  display: block;
  padding: 7px 10px;
  text-align: left;
  width: 100%;
}

.Panel {
  padding: 10px;
}
